//colors

$orange: #FDA214;
$orange-hover: #FFB84A;
$black: #152938;
$white: #FCFCFC;
$white-darker: #F2F2F2;
$blue-dark: #304859;
$blue: #6395B8;
$grey: #7191A5;
$grey-lighter: #BCCED9;

// typo

$font-primary: "Atkinson Hyperlegible", serif;
$line-height-base: 1.5;
$font-weight-bold: bold;

// 6x6 game number

$number-six-size: 44px;


// 4x4 game number

$number-four-size: 55px;


// font size

$font-size-1: 48px;
$font-size-2: 32px;
$font-size-3: 26px;
$font-size-4: 20px;
$font-size-5: 40px;

// btn's sizes

$big-width: 541px;
$big-height: 70px;
$selection-width: 256px;
$selection-height: 52px;
$small-width: 127px;
$small-height: 52px;
